<?xml version="0.1" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
		id          = "com.derianjair.lalista"
		version     = "0.1" >

	<name>La Lista</name>

	<description>
		Lista interminable de cosas por hacer.
	</description>

	<author>
		Derian J. Hndz. L.
	</author>

	<icon src="icon.png" width="180" height="180"/>
	<splash src="splash.png"/>

</widget>